---
---
/** Customisable Minima Elements **/
// $brand-color
// $base-font-family
// $base-font-weight
// $base-font-size
// $base-line-height
// $small-font-size
// $text-color
// $spacing-unit

@import "minima";

.post-excerpt {
    margin-bottom: 35px;
    border-bottom: 1px solid lightgray;
}

.post {
    .published-on {
        color: #999999;
    }
}

